

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 250px 1fr;

}

nav {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  line-height: 100px;
  border: 3px solid #000;
}

.header-navbar {
  font-size: 20px;
  font-family: Arial;
  padding: 20px;
  border-bottom: 2px solid #000;
}

.nav-link {
  font-size: 18px;
  font-family: Arial;

}


main {
    grid-column: 2 / 3;
    font-family: Arial;
    justify-self: center;
}

.main-section header {
  font-size: 20px;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
}

@media screen and (max-width: 850px) {
  * {
    border: 0;
    margin: 0;
    padding: 0;

  }
  .grid-container {
    display: flex;
    flex-direction: column;
  }

  nav {
    display: flex;
    position: relative;
    border: 0;
    margin: 0;
    padding: 0;
  }

  .nav-link {
    font-size: 12px;
  }

}
